@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html,body
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #0F0F0F;
    background-image: radial-gradient(circle, rgba(172,58,9,0.4) 0%, transparent 50%);
    background-repeat: no-repeat;
    background-position: top -200px left 0px;
    background-size: 100% 1024px;
}


.header-menu-section{
    border: 1px solid #ffffff14;
    border-radius: 14px;
    box-shadow: inset 0 0 20px 0 rgba(113, 131, 193, 0.15);
}

.container {
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
  }

.radial-gradient-login{
    background: radial-gradient(circle, rgba(157, 60, 1, 1), rgba(65, -1, 1, 0));
    box-shadow: inset 0 0 70px 0 rgba(55, 93, 251, 0.25);
}

.gradient-text{
    background: linear-gradient(
        to bottom,
        rgba(226, 228, 233, 1),
        rgba(226, 228, 233, 1),
        rgba(208, 81, 27, 1),
        rgba(255, 78, 3, 1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.get-started-banner-home{
    background: linear-gradient(
        to bottom,
        rgba(255, 77, 2, 1),
        rgba(188, 56, 0, 1)
    );
}

.trust-box{
    background-color: #ffffff05;
    border-radius: 20px;
}

.bg-section-trusted{
    background-size: 140% 478%;
    background-position: left;
    /* background: radial-gradient(circle, rgba(255, 77, 2, 0.4), rgba(255, 77, 2, 0)); */
}

.europe-box{
    background-image: url('../images/europe-bg.svg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
}

.small-intro{
    border-radius: 56px;
    padding:6px 20px;
    border:1px solid #FF4D04;
    background: linear-gradient(to bottom right, rgb(228 80 18 / 35%), rgba(228, 80, 18, 0));
    color:#fff;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 35px;
}

.curious-bg{
    background-image: url('../images/curious-bg.svg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    border-radius: 60px;
}

.calculator-intro{
    border-radius: 56px;
    padding:6px 20px;
    border:1px solid #FF4D04;
    background: linear-gradient(to bottom right, rgb(228 80 18 / 35%), rgba(228, 80, 18, 0));
    color:#fff;
    width: 30%;
    margin-bottom: 35px;
}

.ready-hire-bg{
    background-image: url('../images/ready-hire-bg.svg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    border-radius: 60px;
}

.accordian-sec-bg{
    background-image: url('../images/accordian-sec-bg.svg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    border-radius: 24px;
    border:1px solid rgba(255, 77, 2, 0.3);
}

.trustpilot-bg{
    background-image: url('../images/accordian-sec-bg.svg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    border-radius: 10px;
    border:1px solid rgba(255, 77, 2, 0.3);
    padding: 32px 24px;
}


.pilot-descri{
    color: rgba(255, 255, 255, 1)
}

.vetted-small-bg{
    background-image: url('../images/profile-small.svg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    border-radius: 24px;
}

.skill-bg{
    border: 1px solid rgba(255, 77, 2, 0.2);
    border-radius:26px;
    padding: 4px 7px;
}

.profile-link{
    border-radius: 6px;
    padding:14px 20px;
    border:1px solid rgba(212, 64, 1, 1);
    background: radial-gradient(circle, rgba(199, 60, 1, 0.2), rgba(199, 60, 1, 0));
    color:#fff;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: inset 0 0 36px 0 rgba(55, 93, 251, 0.25)
}

.hire-padding{
    padding-right: 3rem;
    padding-left: 12rem;
}

/* Mobile Menu */
#mobileMenuModal  {
    z-index: 9999;
}

#mobileMenu  {
    z-index: 10000;
}

.overlap-1{
    background: #C282FA;
    border-radius: 40px;
    padding:40px;
    width: 65%;
    margin: 0 auto;
}

.purple-bg{
    background-color: #B371EC;
    border-radius: 20px;
}

.overlap-2{
    background: #77BDDF;
    border-radius: 40px;
    padding:40px;
    width: 65%;
    margin: 0 auto;
}

.teal-bg{
    background-color: #36b7f8;
    border-radius: 20px;
}

.overlap-3{
    background: #ECC1A1;
    border-radius: 40px;
    padding:40px;
    width: 65%;
    margin: 0 auto;
}

.pitch-bg{
    background-color: #f49955;
    border-radius: 20px; 
}

.overlap-4{
    background: #60E3D5;
    border-radius: 40px;
    padding:40px;
    width: 65%;
    margin: 0 auto;
}

.tealdark-bg{
    background-color: #16d8c5;
    border-radius: 20px;
}

.footer-background{
    background: linear-gradient(180deg, transparent 0%, #270D02 100%);
    border-radius: 24px;
}

.left-profile {
    width: 25%;
}

.dev-section{
    width:75%;
    border-radius: 20px;
    border: 1.5px solid rgba(77, 35, 17, 0.3);
    padding: 20px;
    height: 55vh;
}

.skills{
    background: linear-gradient(to right,rgba(239, 73, 3, 0.06), rgba(239, 73, 3, 0));
    border:1px solid rgba(255, 255, 255, 0.05);
}

.skills h3{
    color:rgba(255, 255, 255, 0.6);
}

.skills:hover{
    background: linear-gradient(to right, rgba(255, 77, 2, 0.2), rgba(255, 77, 2, 0.01));
    border-image-source: linear-gradient(
                to right, 
                rgba(255, 77, 2, 0.3), 
                rgba(255, 77, 2, 0), 
                rgba(255, 255, 255, 0.05)
            );
}

.skills h3:hover{
    color:#fff;
}

.short-bio{
    background: linear-gradient(to right, rgb(144 46 5 / 91%), rgb(12 6 3));
    position: absolute;
    width: 95%;
    bottom: 0px;
    z-index: 999;
    left: 7px;
    border-radius: 10px;
    padding-top: 12px;
}

.skill-bg h4{
    color:rgba(252, 188, 160, 1);
}

.developer-sec-pic{
    position: relative;
}

.developer-sec-pic img{
    width:100%;
}

.category-filter.active h3{
    color: #fff;
    font-weight: 600;
}

.caret {
    margin-left: 4px;
  }
  
  .dropdown-menu {
    display: none;
  }
  
  
  .dropdown-menu.show {
    display: block;
  }

.slick-slider-most-blog .slick-list {
    padding-right: 10%; 
}

.slick-slider-most-blog::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10%; 
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    pointer-events: none; 
} 

.desig{
    color: rgba(202, 202, 202, 1);
}

.home-blog-para{
    color:rgba(202, 202, 202, 1);
}

.tagsection{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(105, 65, 198, 1);
    border-radius: 16px;
    padding: 4px 12px;
    background: rgba(249, 245, 255, 1);
    margin-right:15px;
}

.assemble-section-bg{
    background-image: url('../images/assemble-section-bg.svg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
    padding: 32px;
}

.skill-border{
    border:1px solid rgba(5, 4, 3, 0.2);
    position: relative;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
  }

  /* Selected skill styles */
  .skill-selected {
    border: 2px solid rgba(223, 68, 2, 1);
  }

  .cross-icon-position{
    position: absolute;
    top: 0;
    right: 0;
  }

  .border-pattern{
    border:1px solid rgba(5, 4, 3, 0.2);
  }

  .join-skill{
    position: absolute;
    left: 48%;
    top: 10%;
  }



@media (min-width: 1536px) {
    .container {
        width: 90%;
        max-width: none;
    }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .menu-hide-mobile{
        display: none;
    }

    .small-intro{
        width:50%
    }

    .calculator-intro{
        width:50%;
        margin:0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .left-profile, .dev-section{
        width: 100%;
    }

    .left-profile{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .dev-section{
        height: auto;
    }

    .join-skill{
        display: none;
    }

    .ready-hire-bg{
        background-size: auto;
    }
}


/* Testimonial Card Styles */

.card-placement {
    transform: rotate(var(--deg));
    left: var(--left);
}

.card-container {
    display: flex;
    position: relative;
}

.card {
    transition: all 0.5s ease-in-out;
}

.card-placement {
    position: absolute;
    transition: transform all 0.5s ease;
}

#card1 { left: 10px; }
#card2 { left: 30px; }
#card3 { left: 50px; }
#card4 { left: 700px; }
#card5 { left: 1350px; }
#card6 { left: 2100px; }





.howItWorkHeading {
    transform: rotate(-90deg);
    float: left;
    white-space: nowrap;
}


.custom-input {
    width: 320px;
    height: 64px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.04);
    box-shadow: inset 0 0 20px 0 rgba(113, 131, 193, 0.15);
}

.gradient-bg {
    background: radial-gradient(144.21% 122.03% at 50.12% -19.11%, rgba(255, 77, 2, 0.4) 0%, rgba(255, 77, 2, 0) 100%);
}
.gradient-text-dev-landing {
    opacity: 0.6;
    background: linear-gradient(180deg, #D0511B 0%, #FF4E03 48.16%, rgba(208, 81, 27, 0.00) 66%, rgba(255, 78, 3, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-paragraph {
    background: linear-gradient(114.49deg, rgba(255, 77, 2, 0.2) 1.58%, rgba(188, 56, 0, 0.2) 100%);
}
.mirror-box{
    border-radius: 12px;
    border: 1px solid rgba(255, 77, 2, 0.09);
    background: radial-gradient(240.6% 133.71% at 12.13% -3.87%, rgba(255, 77, 2, 0.02) 0%, rgba(255, 77, 2, 0.00) 100%);
}

.partnership{
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 22px;
    padding-bottom: 45px;
    margin-top: -100px;
    position: relative;
}

.set-margin{
    padding-top:100px;
    padding-bottom: 100px;
}

.imgwidth{
    width:50%;
}

.orangepart{
    background: linear-gradient(to right, rgba(59, 28, 14, 1), rgba(255, 77, 2, 1));
    border-radius: 12px;
}

.greenpart{
    background: linear-gradient(to right, rgba(58, 103, 46, 1), rgba(23, 38, 19, 1));
    border-radius: 12px;
    margin-top:15px
}

.firozipart{
    background: linear-gradient(to right, rgba(96, 227, 213, 1), rgba(48, 159, 148, 1));
    border-radius: 12px;
    margin-bottom:15px
}

.lightorangepart{
    background: linear-gradient(to right, rgba(255, 123, 49, 1), rgba(236, 156, 82, 1));
    border-radius: 12px;
    margin-bottom:15px
}

.brownpart{
    background: linear-gradient(to right, rgba(236, 193, 161, 1), rgba(208, 156, 118, 1));
    border-radius: 12px;
    margin-bottom:15px
}

.darkfirozipart{
    background: linear-gradient(to right, rgba(119, 189, 223, 1), rgba(79, 153, 189, 1));
    border-radius: 12px;
    margin-bottom:15px
}

.violetpart{
    background: linear-gradient(to right, rgba(194, 130, 250, 1), rgba(145, 62, 218, 1));
    border-radius: 12px;
    margin-bottom:15px
}

.custom-bg {
    background: radial-gradient(rgba(255, 77, 2, 0.1), rgba(255, 77, 2, 0.005));
    border-radius: 24px;
    padding: 24px;
}
.custom-border {
    border: 1px solid rgba(255, 77, 2, 0.3);
    border-radius: 24px;
}


.custom-grid-bg {
    background: rgba(255, 255, 255, 0.06);
}

.tech-item {
    background-color: rgba(255, 77, 2, 0.16);
    border-radius: 26px;
    padding: 6px 7px;
    border: 1px solid rgba(255, 77, 2, 0.2);
}

.tech-item h3{
    color: rgba(252, 188, 160, 1);
}

.range-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: rgba(255, 77, 2, 0.3);
    outline: none;
    opacity: 1;
    transition: opacity .2s;
    border-radius: 17px;
}
.range-input:hover {
    opacity: 0.7;
}
.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 77, 2, 1);
    cursor: pointer;
    border-radius: 50%;
}
.range-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgba(255, 77, 2, 1);
    cursor: pointer;
    border-radius: 50%;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.range-value {
    position: absolute;
    top: -30px;
    left: 80%;
    transform: translateX(-50%);
    background: rgba(255, 77, 2, 1);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
}














.technical-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: rgba(149, 201, 61, 1);
    outline: none;
    opacity: 1;
    transition: opacity .2s;
    border-radius: 17px;
}
.technical-input:hover {
    opacity: 0.7;
}
.technical-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgba(149, 201, 61, 1);
    cursor: pointer;
    border-radius: 50%;
}
.technical-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgba(149, 201, 61, 1);
    cursor: pointer;
    border-radius: 50%;
}

.technical-labels {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.technical-value {
    position: absolute;
    top: -30px;
    left: 80%;
    transform: translateX(-50%);
    background: rgba(149, 201, 61, 1);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.profile-button-custom {
    border-radius: 6px;
    padding: 14px 20px;
    border: 2px solid rgba(212, 64, 1, 1);
    background: radial-gradient(50% 50% at 50% 100%, #C73C01 0%, rgba(199, 60, 1, 0) 100%);
    box-shadow: 0 4px 6px rgba(55, 93, 251, 0.25);
    color: white;
    font-weight: 500;
    font-size:16px;
}

.calculate-sec{
    background-image: url('../images/calculate-bg.svg');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center;
}

.cal-bg{
    border-radius: 32px 32px 0px 0px;
    padding: 50px 40px 50px 40px;
}

.borderdown{
    border-color: rgba(236, 236, 237, 0.2);
}

.sm-color{
    color: rgba(127, 127, 127, 1);
}
.how-it-works-slide{
    width: 100% !important;
	height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
	overflow: hidden;
    position: relative;
}

.panel {
    height: 100%;
    width: 100%;
    position: absolute;
}

/*
	Form
*/

.box-section{
	position: relative;
	height: 100%;
	width: 100%;
}


/*.font-regular{
    font-weight: 400;
}

.slick-prev.vetted:before{
    display: none;
}

.slick-next.vetted:before{
    display: none;
}

.height-blog{
    height:29rem;
}



#mobileMenuModal  {
    z-index: 9999;
}

#mobileMenu  {
    z-index: 10000;
}




.custom-prev-arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 5%;
    position: absolute;
    bottom: 71px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    left: 47%;
    border: 1px solid;
}

.custom-next-arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 5%;
    position: absolute;
    bottom: 71px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    right: 46%;
    border: 1px solid;
}

.custom-prev-arrow:hover{
    background-color: #fff;
}

.custom-next-arrow:hover{
    background-color: #fff;
}

.custom-prev-arrow svg{
    position: absolute;
    top: 15%;
    left: 15%;
}

.custom-next-arrow svg{
    position: absolute;
    top: 15%;
    right: 15%;
}

.custom-prev-arrow:hover svg{
    color: #FF4D04;
}

.custom-next-arrow:hover svg{
    color: #FF4D04;
}


.testimonial-prev-arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #FF4D04;
    border-radius: 5%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    right: 22%;
    border: 1px solid #FF4D04;
}

.testimonial-next-arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #FF4D04;
    border-radius: 5%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    right: 18%;
    border: 1px solid #FF4D04;
}

.testimonial-prev-arrow:hover{
    background-color: #FF4D04;
}

.testimonial-next-arrow:hover{
    background-color: #FF4D04;
}

.testimonial-prev-arrow svg{
    position: absolute;
    top: 15%;
    left: 15%;
}

.testimonial-next-arrow svg{
    position: absolute;
    top: 15%;
    right: 15%;
}

.testimonial-prev-arrow:hover svg{
    color: #FFF;
}

.testimonial-next-arrow:hover svg{
    color: #FFF;
}


.blog-prev-arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #FF4D04;
    border-radius: 5%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    right: 13%;
    border: 1px solid #FF4D04;
}

.blog-next-arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #FF4D04;
    border-radius: 5%;
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    right: 9%;
    border: 1px solid #FF4D04;
}

.blog-prev-arrow:hover{
    background-color: #FF4D04;
}

.blog-next-arrow:hover{
    background-color: #FF4D04;
}

.blog-prev-arrow svg{
    position: absolute;
    top: 15%;
    left: 15%;
}

.blog-next-arrow svg{
    position: absolute;
    top: 15%;
    right: 15%;
}

.blog-prev-arrow:hover svg{
    color: #FFF;
}

.blog-next-arrow:hover svg{
    color: #FFF;
}

.stay-update-img{
    margin-top: -132px;
    width:1000px;
}



  .w-custom-1 {
    width: 20%;
  }
  .w-custom-2 {
    width: 55%;
  }
  .w-custom-3 {
    width: 25%;
  }

  .negative-margin{
    margin-top: -145px;
  }




@media only screen and (min-width: 320px) and (max-width: 600px) {
    .testimonial-prev-arrow{
        left:8%;
        top:33%;
        right:0;
    }

    .testimonial-next-arrow{
        top:33%;
        left:20%;
        right:0;
    }

    .custom-prev-arrow{
        left:34%;
    }

    .blog-prev-arrow{
        right:30%;
        top:11%
    }

    .blog-next-arrow{
        top:11%
    }

}*/
.europe-box{
    position: relative;
}
.europe-box::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,0.196516106442577) 12%, transparent 53%);
    background-size: 150% 150%;
    animation: gradient-animation 10s ease infinite;
    top: 53px;
}

.europe-box::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, rgba(255,255,255,0.196516106442577) 12%, transparent 50%);
    background-size: 150% 150%;
    animation: gradient-animation 10s ease infinite;
    top: 0px;
    left: 53px;

}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.europe-box .icons-box{
    width: 56px;
    height: 56px;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: radial-gradient(217.29% 122.1% at 19.03% 0%, rgba(255, 77, 2, 0.20) 0%, rgba(255, 77, 2, 0.01) 100%);
}

.europe-box .icons-box .icons-img{
    position: absolute;
    top: 11px;
    left: 11px;
    width: 32px;
    height: 32px;
}
.europe-box .icons-box .line {
    stroke-dasharray: 260;
    stroke-width: 2px;
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.6);
    animation: svgAnimation1 20s linear infinite;
}
.bg-404{
    background: url('../sws/images/bg-404.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* .assemble-section-animation{
    position: relative;
    border-radius: 24px;
    box-shadow: inset 0 0 0 2px transparent;
    backdrop-filter: blur(20px);
    transform: translate(0);
    overflow: hidden;
    padding: 2px;
    max-width: 1450px;
    margin: 40px auto;

} */

.assemble-section-bg{
    position: relative;
    z-index: 99;
    background: rgb(51,17,2);
    border: 1px solid rgba(255, 255, 255, 0.05);
    background: linear-gradient(90deg, rgba(51,17,2,1) 0%, rgba(57,20,2,1) 20%, rgba(65,22,4,1) 38%, rgba(79,25,3,1) 55%, rgba(92,30,4,1) 78%, rgba(91,3,3,1) 100%); 
}

.assemble-section-animation{
    position: relative;
    overflow: hidden;
    padding: 2px !important;
    border-radius: 30px;
}  
.item-animtion {
    display: flex;
    justify-content: center;
    place-items: center;
    offset-path: inset(-16px round 28px);
    offset-rotate: 0deg;
    position: absolute;
    font-size: 18px;
    width: 200px;
    height: 200px;
    background: linear-gradient(270deg, rgba(233, 75, 7, 0.795) 0%, rgba(0,0,0,0) 100%);
}  
.item-animtion:nth-child(1) {
    animation: traverse 10s infinite linear;
}
.item-animtion:nth-child(2) {
    animation: traverse 10s infinite linear;
    animation-delay: 5s;
}
/* change animation */
.slider-wrapper{
    padding-left: 15px;
}
.slider-overlay{
    position: relative;
    width: 100%;
    padding-left: 15px;
}
ul{
    list-style: circle;
    margin-left: 20px;
}
ol{
    margin-left: 20px;
    list-style: decimal;
}
.logo-slider .slide-item{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.02) !important;
    padding: 20px;
}

  

@keyframes traverse {
    0% {
      offset-distance: 0%;
      transform: rotate(0);
    }
    100% {
      offset-distance: 100%;
      transform: rotate(360deg);
    }
  }

.form_border_wrap {
    pointer-events: none;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    mask-composite: exclude;
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 2px;
    position: absolute;
    inset: 0%;
    overflow: hidden;
}

.form_border_gradient{
    width: 20rem;
    height: 20rem;
    position: absolute;
    inset: auto auto 0% -1%;
    animation-play-state: running;
    animation: videoBorder 20s linear infinite;
    background-image: linear-gradient(180deg, #ff4b04b6, transparent);
    
}
.form_border_gradient:nth-child(2) {
    animation-delay: 2s;
}

.solution_bg_bg-wrap{
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: rgb(172,58,9);
    background: radial-gradient(circle, rgba(172,58,9,0.4) 0%, rgba(0,0,0,0) 50%);
}

.solution_bg_bg-wrap .bg-img{
    width: 100%;
    max-width: 602px;
    position: absolute;
    top: 0%;
    left: 13.5%;
}


.solution_path-gradient{
    background-image: linear-gradient(90deg, transparent, white);
    width: 8rem;
    height: 100%;
    transform: rotate(35deg);
    animation: moveGradient 7s linear infinite;
}
.solution_path-img{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-image: linear-gradient(180deg, #000 6%, #FF4D02 100%, #000);
    width: 80%;
    height: 10.5rem;
    position: absolute;
    inset: 4.1% auto 0 7%;
    top: 16%;
}
@keyframes moveGradient {
    0%{
        transform: translateX(-100%);
    }
    80%, 100% {
        transform: translateX(650%);
    }
}



/* .assemble-section-animation::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(180deg, #ffffff80, transparent);
    width: 20rem;
    height: 20rem;
    inset: auto auto 0% 0%;
    animation: videoBorder 15s linear infinite;
    z-index: 1;
} */

/* .assemble-section-bg .svg{
    position: absolute;
}

.assemble-section-bg .line{
    stroke-dasharray: 100%;
    stroke-width: 2px;
    fill: transparent;
    stroke: rgba(255, 255, 255, 0.527);
    animation: svgAnimation2 10s linear infinite;
} */

@keyframes videoBorder {
    0%{
        transform: translateZ(0) translate(-50%);
        opacity: 0;
    }
    20% {
        transform: translateZ(0) translate(-50%, -140%);
        opacity: 1;
    }
    21% {
        transform: translateZ(0) translate(-50%, -200%) rotate(45deg);
    }
    30%{
        transform: translateZ(0) translate(50%, -190%) rotate(90deg);
    }
    46% {
        transform: translateZ(0) translate(270%, -190%) rotate(90deg);
    }
    47% {
        transform: translateZ(0) translate(270%, -190%) rotate(135deg);
    }
    54% {
        transform: translateZ(0) translate(320%, -140%) rotate(180deg);
        opacity: 1;
    }
    70% {
        transform: translateZ(0) translate(320%, -20%) rotate(180deg);
        opacity: 0;
    }
    100% {
        transform: translateZ(0) translate(320%, -20%) rotate(180deg);
        opacity: 0;
    }
}

@keyframes svgAnimation1 {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 1000;
    }
}
@keyframes svgAnimation2 {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 8000;
    }
}


/* 
.assemble-section-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    border: 2px solid #FF4D04;
    animation: clippath 10s infinite linear;
}
.assemble-section-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    border: 2px solid #FF4D04;
    animation: clippath 10s infinite -5s linear;
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 95% 0);
    }
    25% {
        clip-path: inset(0 95% 0 0);
    }
    50% {
        clip-path: inset(95% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 95%);
    }
} */


.sliderwrap {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  
  .vote {
    width: 100%;
    max-width: 400px;
    float: left;
    position: relative;
    height: 30px;
     margin-top: 20px;
  }
  
  .range {
    position: absolute;
    z-index: 100;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 18px;
    border: none;
    box-sizing: border-box;
    background-clip: padding-box;
    vertical-align: top;
    outline: none;
    -webkit-appearance: none;
    border-radius: 6px;
    height: 15px;
    border-radius: 13px;
    width: 100%;
    z-index: 1;
    background: rgba(255, 77, 2, 0.2);
  }
  .range:active {
    outline: none;
  }
  .range::-moz-range-thumb {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 1px solid #bdbdbd;
    background: #a1ca45;
    border-radius: 20px;
    background-clip: padding-box;
    box-shadow: inset 0px 0px 1px 1px white;
  }
  .range::-ms-thumb {
    cursor: pointer;
    height: 13px;
    width: 13px;
    border: 1px solid #bdbdbd;
    background: #a1ca45;
    border-radius: 14px;
    background-clip: padding-box;
    box-shadow: inset 0px 0px 1px 1px white;
  }
  .range::-ms-tooltip {
    display: none;
  }
  .range::-ms-track {
    height: 0px;
    border: none;
  }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    height: 30px;
    width: 20px;
    border: 3px solid #fff;
    background: #FF4D02;
    border-radius: 20px;
    background-clip: padding-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    z-index: 88;
  }
  .range::-moz-range-track {
    background: rgba(255, 77, 2, 0.7);
    height: 100%;
    border-radius: 20px;
  }
  
  .progress {
    position: absolute;
    width: 50%;
    height: 14px;
    background: #FF4D02;
    z-index: 1;
    border-radius: 10px;
    margin: 1.2em 5px 5px 1px;
    overflow: hidden;
    z-index: 4;
  }
  
  .range-value {
    float: left;
    padding: 15px 1.02em;
    width: 30px;
    border-left: 2px solid #000;
    background: red;
    font-weight: bold;
    color: #fff;
  }

.section-introduction .circle-box { 
    text-align: center; 
    height: 52px; 
    width: 52px; 
    border: 1px solid #FFF;
    font-size: 1.3rem; 
    font-weight: 700; 
    text-transform: capitalize; 
    background: #050403;
    overflow: hidden;
} 
.container-circule { 
    display:grid; 
    align-items:center; 
    height:auto; 
    width:max-content; 
    margin:auto; 
    padding: 10px;
    border-radius: 70px;
    border: 1px solid rgba(255, 77, 2, 0.30);
    background: radial-gradient(240.6% 133.71% at 12.13% -3.87%, rgba(255, 77, 2, 0.20) 0%, rgba(255, 77, 2, 0.01) 100%);
}
.item-1 { 
    grid-row:1; 
    grid-column: 1 / span 4; 
} 
.item-2 { 
    grid-row: 1; 
    grid-column: 4 / span 4; 
} 
.item-3 { 
    grid-row: 1; 
    grid-column: 7 / span 4; 
} 
.item-4 { 
    grid-row: 1; 
    grid-column: 10 / span 4; 
} 
.circle-box { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    flex-wrap: wrap; 
    border-radius: 50%; 
} 
.circle-box p { 
    margin: 0; 
    font-size: 10px; 
    color: #fff;
    font-size: 16px;
    font-weight: 500;
} 
.circle-box span { 
    font-size: 10px; 
    font-weight: normal; 
}

.left-profile {
    width: 100% !important;
}
.dev-section{
    width:100% !important;
    border: 0;
    padding: 20px;
    height: auto !important;
}

.slick-initialized .slick-slide{
    display: block;
    background: #fff;
    margin: 0px 10px;
}
.slick-initialized .slide-item{
    display: block;
    background: #fff;
    margin: 0px 10px;
}
  




.timeline {
    padding: 0px;
}
.timeline .timeline-box {
    padding: 0;
    position: relative;
}
.timeline .default-line {
    content: "";
    position: absolute;
    left: 0px;
    width: 4px;
    background: transparent;
    height: 100%;
}
.timeline .draw-line {
    width: 4px;
    height: 0;
    position: absolute;
    /* background: #ff4d02; */
    background: rgb(0,0,0);
    background-image: linear-gradient(0deg, rgba(0,0,0,0.41220238095238093) 0%, rgba(205,79,26,1) 50%, rgba(5,0,0,0.6895133053221288) 100%);
    background-size: 4px 600px;
    background-repeat: repeat-y;
}
.timeline .draw-line::after{
    content: '';
    position: absolute;
    bottom: 0px;
    width: 22px;
    height: 22px;
    left: -9px;
    /* background: #ff4d02; */
    border-radius: 50%;
    background-color: #000;
    border: 5px solid #fff;
    box-shadow: 0px 0px 24px rgba(255, 77, 2, 1);
}
.timeline .timeline-box .timeline-item {
    position: relative;
    width: 100%;
    /* min-height: 450px; */
    background: transparent;
}
.timeline .timeline-box .timeline-item.in-view {
    transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
}
.timeline .timeline-box .timeline-item.in-view::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    border: 5px solid #fff;
    transition: 0.125s ease-in-out, background-color 0.2s ease-out, color 0.1s ease-out, border 0.1s ease-out;
    box-shadow: 0px 0px 24px rgba(255, 77, 2, 1);
    z-index: 1;
}
.timeline .timeline-box .timeline-item.in-view.curv-box::before{
    left: 24px;
}
.timeline .timeline-box .timeline-item .curv-img{
    display: none;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.timeline .timeline-box .timeline-item.in-view .curv-img{
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: block;
}
.timeline-content{
    z-index: 99;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* .timeline .timeline-box .timeline-item::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 0;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    border: 1px solid rgba(255, 77, 2, 0.80);
    background: rgba(198, 78, 26, 0.20);
    box-shadow: 0px 0px 20px 0px rgba(113, 131, 193, 0.15);
    backdrop-filter: blur(50px);
} */
.timeline .timeline-box .timeline-item::after {
    content: "";
    position: absolute;
    left: 1px;
    top: 0;
    width: 4px;
    height: 100%;
    /* background-image: url('./images/line-bg.png');
    background-repeat: no-repeat; 
    background-size:cover;
    background-position: center; */
    /* background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.41220238095238093) 0%, rgba(205,79,26,1) 50%, rgba(5,0,0,0.6895133053221288) 100%); */
    z-index: -1;
}

.timeline-content-box{
    padding-left: 100px;
    width: 100%;
}

.border-bottom-img::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent 0%, #692103 12%, transparent 53%);
    background-size: 150% 150%;
    bottom: 0px;
}


.border-left-img::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent 0%, #692103 12%, transparent 50%);
    background-size: 150% 150%;
    top: 60px;
    left: 0px;
}

.vetting-bg{
    border-radius: 24px;
    /* border: 15px solid #4F6FDA; */
    background: linear-gradient(114deg, #FF4D02 1.58%, #7F2B07 100%);
    min-height: 400px;
}


.timeline-item .hide-bottom-border::after{
    display: none;
}
.card-slide-item{
    display: inline-block;
}
.section-about-us{
    background: url('./images/bg-about.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position:  top 0px left 0px;

}

.calculate-sec{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 24px;
    background: radial-gradient(188.91% 103.49% at 50.12% -19.11%, #5F1C00 0%, #1D0900 100%); */
}
.calc-sec-bg{
    border-radius: 24px;
    background: radial-gradient(188.91% 103.49% at 50.12% -19.11%, #5F1C00 0%, #1D0900 100%);
}

.scroll-menu{
    padding: 0px;
    margin: 0px;
}
.scroll-menu li{
    display: block;
    margin-bottom: 20px;
}
.scroll-menu li a{
    display: block;
    color: #fff;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
}
.scroll-menu li a span{
    position: absolute;
    left: 0px;
    top: 0px;
}

.scroll-menu li a.active{
    color: #FF4F04;
}
.stickysidenav{
    max-width: 176px;
    min-width: 237px;
}
.side-bar-fix{
    position: fixed;
    top: 70px;
}
.show-more-box .grid-item h1{
    margin-bottom: 30px;
}
.show-more-box .grid-item h3{
    margin-bottom: 20px;
}

.show-more-box .grid-item p{
    margin-bottom: 30px;
}
.scroll-section{
    padding-top: 40px;
}
#sticky-details{
    display: none;
}
#sticky-details.show-details{
    display: block;
}
.bg-vp{
    background-position: center;
    background-size: 100% 700px;
    background-repeat: no-repeat;
}
.vetting-step-section-inner{
    border-radius: 18px;
    border: 0.75px solid rgba(255, 77, 2, 0.30);
    background: radial-gradient(240.6% 133.71% at 12.13% -3.87%, #1C0A02 0%, #100601 100%);
}
.section-dicription{
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 20px;
    list-style-type: circle;
}
.section-dicription li{
    color:#E5E5E5;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.steps-box{
    box-shadow: 0px 0px 70px 0px rgba(55, 93, 251, 0.25);
    background: radial-gradient(50% 50% at 50% 100%, #E45012 0%, rgba(228, 80, 18, 0.00) 100%);
    display: inline-block;
    height: 50px;
    min-width: 120px;
    text-align: center;
}
.flip-img{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.calculator-box .inner-box{
    border-radius: 24px;
    background: radial-gradient(217.29% 122.1% at 19.03% 0%, rgba(255, 77, 2, 0.20) 0%, rgba(255, 77, 2, 0.01) 100%);
}
.clinet-logo .item{
   max-width: 180px;
   min-height: 115px;
   text-align: center;
   display: inline-block; 
   margin: 20px;
}
.path-box img{
    animation: fadeinout 2s infinite;
}
@keyframes fadeinout
{
  0%{
    opacity:0;
  }
  50%
  {
    opacity:1;
  }
  100%
  {
    opacity:0;
  }
}

.gradient-bg{
    border: 1px solid rgba(255, 77, 2, 0.30);
    background: radial-gradient(240.6% 133.71% at 12.13% -3.87%, rgba(255, 77, 2, 0.20) 0%, rgba(255, 77, 2, 0.01) 100%);
}
.assemble-team{
    background: linear-gradient(270deg, rgba(172,58,9,0.3) 0%, transparent 100%);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: center right 0px;
}
.assemble-inner{
    background-repeat: no-repeat;
    background-size: 60% 50%;
    background-position: center right 0px;
}
.thin-scroll-bar{
    padding-right: 10px;
}
.thin-scroll-bar::-webkit-scrollbar-track {
    background: transparent;
}
.thin-scroll-bar::-webkit-scrollbar {
    width: 6px;
}

.thin-scroll-bar::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}
.progress-range{
    border-radius: 28px;
    border: 1px solid #DF4402;
    background: linear-gradient(180deg, #FFEBE3 0%, #FFF 100%);
}
.progress-range::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #434343;
}

.btn-gradient{
    background: linear-gradient(269deg, #D13F01 0%, #EC4702 100%);
    box-shadow: 0px 2.7px 2.7px 0px rgba(35, 6, 74, 0.10);
}
.accordion-box .accordion-item .accordion-details{
    display: none;
}
.price-list-box{
    background: radial-gradient(152.95% 117.03% at 22.81% 4%, #291005 0%, #180903 100%);
}


.vetting_img{
    background-image: linear-gradient(90deg, white, transparent);
    width: 10rem;
    height: 100%;
    transform: rotate(35deg);
    animation: moveGradient12 4s linear infinite;
}
.vetting-path{
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-image: linear-gradient(180deg, #000 6%, #FF4D02 100%, #000);
    width: 80%;
    height: 10.5rem;
    position: relative;
    inset: 4.1% auto 0 7%;
}
@keyframes moveGradient12 {
    0%{
        transform: translateX(650%);
    }
    80%, 100% {
        transform: translateX(-100%);
    }
}

.dev-gradient-bg{
    border-radius: 12px;
    background: radial-gradient(188.91% 103.49% at 50.12% -19.11%, rgba(255, 77, 2, 0.40) 0%, rgba(255, 77, 2, 0.00) 100%);
    border: 1px solid rgba(255, 77, 2, 0.09);
    border-bottom: 0;
}


.range-slider {
    position: relative;
    width: 100%;
    height: 5px;
  }
  
  .range-slider input {
    width: 100%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
  }
  .range-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
  }
  .range-slider input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
  }
  .range-slider input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 50%;
    background: #37adbf;
    cursor: pointer;
    border: 0 !important;
  }
  .range-slider input::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
  }
  .range-slider input::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
  }
  .range-slider input::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
  }
  .range-slider input:focus {
    background: none;
    outline: none;
  }
  .range-slider input::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  .range-labels {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
  }
  .range-labels li {
    position: relative;
    float: left;
    width: 90.25px;
    text-align: center;
    color: #b2b2b2;
    font-size: 14px;
    cursor: pointer;
  }
  .range-labels li::before {
    position: absolute;
    top: -25px;
    right: 0;
    left: 0;
    content: "";
    margin: 0 auto;
    width: 9px;
    height: 9px;
    background: #b2b2b2;
    border-radius: 50%;
  }
  .range-labels .active {
    color: #37adbf;
  }
  .range-labels .selected::before {
    background: #37adbf;
  }
  .range-labels .active.selected::before {
    display: none;
  }

  .auther-page-bg{
    border-radius: 22px;
    border: 1px #401A0A;
    background: #1F0C04;
  }
  .auther-blog-list .cursor-pointer .blog-img{
    display: none;
    rotate: 10deg;
  }
  .auther-blog-list .cursor-pointer:hover h1{
    text-decoration: underline;
  }
  .auther-blog-list .cursor-pointer:hover .blog-img{
    display: inline-block;
  }

  .scroll-section h5{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
  }
  .scroll-section p{
    font-size: 20px;
    color: #E3E3E3;
  }

  .scroll-section p a{
    color: #FF4D02;
  }
  
  


@media (max-width: 640px) {
    .howItWorkHeading{
        transform: rotate(0deg);
    }
    .how-it-works-slide{
        height: 900px;
        min-height: 900px;
    }
    .panel{
        height: auto;
        width: 94%;
    }
    .testimonial-section .card-container .card-placement{
        rotate:0deg !important;
        --deg:0deg !important;
    }
    .assemble-section-bg{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .timeline-content-box{
        padding-left: 30px;
    }
    .timeline-item > .curv-img{
        display: none;
    }
    .timeline-item .border-left-img::before{
        display: none;
    }
    .timeline-item .hide-bottom-border::after{
        display: block;
    }
    .clinet-logo .item{
        margin: 6px;
    }
    .stickysidenav.side-bar-fix{
       position: relative !important;
    }

}